<header>
    <div class="row">
        <div class="col col-2">
            <img src="/img/logoUCM.png" alt = "Logo UCM" height="150px" width="150px">
        </div>
        <div class="col offset-2 col-4">
            <h1 class="text-center">UCM-CAU</h1>
            <h2 class="text-center">Centro de Atención al Usuario</h2>
        </div>
    </div>
</header>